{% if grouped_manifests %}
    <h3>Manifests
        <small>({{ grouped_manifests|length }})</small>
    </h3>
    <table class="table table-bordered">
        {% for app_name, common_manifest_dict in grouped_manifests.items() %}
            <tr>
                <td>
                    <div>
                        <a data-target="#versions_{{ app_name }}" data-toggle='collapse'>{{ app_name }}</a>
                        <small>({{ common_manifest_dict['manifests']|length }})</small>
                        - {{ common_manifest_dict['description'] }} -
                        <em>{{ common_manifest_dict['type'] }}</em>
                    </div>
                    <div id="versions_{{ app_name }}" class="collapse in">
                        {% for manifest in common_manifest_dict['manifests'] %}

                            <dl>
                                <hr>

                                <dt>
                                    {{ manifest.uuid }}

                                    {% if user.admin %}
                                        <span class="pull-right">
                                            <button type="button" class="btn btn-mini deploy"
                                                    data-uuid="{{ manifest.uuid }}">
                                                Deploy
                                            </button>

                                        <button type="button" class="btn btn-danger btn-mini remove"
                                                data-id="{{ manifest.uuid }}">Remove
                                        </button>
                                    </span>
                                    {% endif %}

                                </dt>
                                <dd>

                                    {% if manifest.url %}
                                        <dl>
                                            <dt>Cloned from</dt>
                                            <dd>{{ manifest.url }}</dd>
                                        </dl>
                                    {% endif %}

                                    <dl>
                                        <dt>Developer</dt>
                                        <dd>{{ manifest.developer }}</dd>
                                    </dl>

                                    {% if manifest.depends %}
                                        <dl>
                                            <dt>Dependencies</dt>
                                            {% for depends in manifest.depends %}
                                                <dd>{{ depends }}</dd>
                                            {% endfor %}
                                        </dl>
                                    {% endif %}

                                    {% if manifest.drivers %}
                                        <dl>
                                            <dt>Drivers</dt>
                                            {% for alias, settings in manifest.drivers.items() %}
                                                <dd>{{ alias }} - {{ settings }}</dd>
                                            {% endfor %}
                                        </dl>
                                    {% endif %}


                                    {% if manifest.args %}
                                        <dl>
                                            <dt>Args</dt>
                                            <dd>{{ manifest.args|pprint }}</dd>
                                        </dl>
                                    {% endif %}

                                    {% if manifest.changelog %}

                                        <dl>
                                            <dt>Changelog</dt>
                                            {% for change in manifest.changelog %}
                                                <dd>{{ change }}</dd>
                                            {% endfor %}
                                        </dl>
                                    {% endif %}

                                    {% if manifest.structure %}
                                        <dl>
                                            <dt>Structure</dt>
                                            {% for record in manifest.structure %}
                                                <dd>{{ record }}</dd>
                                            {% endfor %}
                                        </dl>
                                    {% endif %}


                                </dd>
                            </dl>
                        {% endfor %}

                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h3>No manifests</h3>
{% endif %}

{% if runlists %}
    <h3>Runlists
        <small>({{ runlists|length }})</small>
    </h3>
    <table class="table table-bordered runlists">
        <thead>
        <tr>
            <th>Name</th>
            <th>Apps-Profiles</th>
        </tr>
        </thead>

        {% for runlist_name, runlist in runlists.items() %}
            <tr>
                <td>{{ runlist_name }}</td>
                <td>
                    {% for app_name, profile_name in runlist.items() %}
                        <div class="clearfix runlist">
                                <span class="pull-left">
                                    {{ app_name }} - <span class="edit select">{{ profile_name }}</span>
                                </span>
                            <button type="button" class="pull-right undeploy btn btn-danger btn-mini"
                               data-url="{{ runlist_name }}/{{ app_name }}/{{ profile_name }}">Undeploy</button>
                        </div>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h3>No runlists</h3>
{% endif %}

{% if profiles %}
    <h3>Profiles
        <small>({{ profiles|length }})</small>
    </h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Config</th>
        </tr>
        </thead>

        {% for profile_name, profile in profiles.items() %}
            <tr>
                <td>{{ profile_name }}</td>
                <td>
                    <ul class="unstyled">
                        {% for option, value in profile|dictsort %}
                            <li>
                                {{ option }} - <span class="edit text-info"
                                                     id="profile:{{ profile_name }}:{{ option }}:{{ value }}">{{ value }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h3>No profiles</h3>
{% endif %}

{% if hosts %}
    <h3>Hosts</h3>
    {% for alias, hosts in hosts.items() %}
        <dl>
            <dt>{{ alias }}</dt>
            <dd>
                {% for host in hosts %}
                    {{ host }}
                {% endfor %}
            </dd>
        </dl>
    {% endfor %}
{% else %}
    <h3>No hosts</h3>
{% endif %}


{% if user.admin %}
    {% block js %}
        <script type="text/javascript" src="https://raw.github.com/makeusabrew/bootbox/v2.4.2/bootbox.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function ()
                              {
                                  $('.remove').click(
                                          function ()
                                          {
                                              var app_id = $(this).attr('data-id');
                                              var btn = $(this);
                                              bootbox.confirm("Are you sure?", "No", "Yes", function (result)
                                              {
                                                  if (result)
                                                  {
                                                      $.ajax({
                                                                 url:'/app/' + app_id,
                                                                 type:"DELETE",
                                                                 success:function (data, textStatus, jqXHR)
                                                                 {
                                                                     btn.parents('dl').remove();
                                                                 }
                                                             });

                                                  }
                                              });
                                          });

                                  function create_select(entities, title)
                                  {
                                      var s = "<div class='control-group'>" +
                                                "<label class='control-label'>" + title +
                                                ":</label>" +
                                                "<div class='controls'>" +
                                                    "<select class='span2' name='" + title + "'>" +
                                                "</div>" +
                                              "</div>";
                                      for (var index in entities)
                                      {
                                          s += "<option value='" + entities[index] + "'>" + entities[index] + "</option>";
                                      }
                                      s += "</select>";
                                      console.log(s);
                                      return s;
                                  }

                                  $('.deploy').click(
                                          function ()
                                          {
                                              var uuid = $(this).attr('data-uuid');
                                              var btn = $(this);
                                              var str = $("<span>Loading...</span>");
                                              $.getJSON('/runlists', function (runlists)
                                              {
                                                  $.getJSON('/profiles', function (profiles)
                                                  {
                                                      str.html(create_select(runlists, "Runlist") + create_select(profiles, "Profile"));
                                                  });
                                              });

                                              bootbox.confirm(str, "No", "Yes", function (result)
                                              {
                                                  if (result)
                                                  {
                                                      var runlist = $("select[name=Runlist]", str).val();
                                                      var profile = $("select[name=Profile]", str).val();
                                                      console.log(runlist);
                                                      console.log(profile);
                                                      $.ajax({
                                                                 url:'/deploy/' + runlist + '/' + uuid + '/' + profile,
                                                                 type:"POST",
                                                                 success:function (data, textStatus, jqXHR)
                                                                 {
                                                                     bootbox.alert("Application is deployed");
                                                                 },
                                                                 error:function (jqXHR, textStatus, errorThrown)
                                                                 {
                                                                     bootbox.alert(jqXHR.responseText, function(){
                                                                         location.reload(true);
                                                                     });
                                                                 }
                                                             });

                                                  }
                                              });
                                          });


                                  $('.undeploy').click(
                                          function ()
                                          {
                                              var url = $(this).attr('data-url');
                                              var btn = $(this);
                                              bootbox.confirm("Are you sure?", "No", "Yes", function (result)
                                              {
                                                  if (result)
                                                  {
                                                      $.ajax({
                                                                 url:'/undeploy/' + url,
                                                                 type:"POST",
                                                                 success:function (data, textStatus, jqXHR)
                                                                 {
                                                                     btn.parents('div.runlist').remove();
                                                                     bootbox.alert("Application is undeployed");
                                                                 },
                                                                 error:function (jqXHR, textStatus, errorThrown)
                                                                 {
                                                                     bootbox.alert(jqXHR.responseText, function(){
                                                                         location.reload(true);
                                                                     });
                                                                 }
                                                             });

                                                  }
                                              });
                                          });


                                  $('.edit.text-info').editable('/dashboard/edit', {
                                      style:'display: inline',
                                      tooltip:'Click to edit...'
                                  });

                                  $('.edit.select').editable('/dashboard/edit', {
                                      style:'display: inline',
                                      loadurl:'/profiles',
                                      type:'select',
                                      cssclass:'form-horizontal',
                                      loaddata:{view:'dict'},
                                      callback:function (value, settings)
                                      {
                                          console.log(this);
                                          console.log(value);
                                          console.log(settings);
                                      }
                                  });


                              });


        </script>
    {% endblock %}
{% endif %}
