{% if manifests %}
    <h3>Manifests
        <small>({{ manifests|length }})</small>
    </h3>
    <table class="table table-bordered">
        {% for app_name, common_manifest_dict in grouped_manifests.items() %}
            <tr>
                <td>
                    <div>
                        <a data-target="#versions_{{ app_name }}" data-toggle='collapse'>{{ app_name }}</a>
                        <small>({{ common_manifest_dict['manifests']|length }})</small>
                        - {{ common_manifest_dict['description'] }} -
                        <em>{{ common_manifest_dict['type'] }}</em>
                    </div>
                    <div id="versions_{{ app_name }}" class="collapse in">
                        {% for manifest in common_manifest_dict['manifests'] %}

                            <dl>
                                <hr>

                                <dt>
                                    {{ manifest.uuid }}

                                    {% if user.admin%}
                                        <span class="pull-right">
                                        <button type="button" class="btn btn-danger btn-mini remove"
                                                data-id="{{ uuid }}">Remove
                                        </button>
                                    </span>
                                    {% endif %}

                                </dt>
                                <dd>
                                    <dl>
                                        <dt>Developer</dt>
                                        <dd>{{ manifest.developer }}</dd>
                                    </dl>

                                    {% if manifest.depends %}
                                        <dl>
                                            <dt>Dependencies</dt>
                                            {% for depends in manifest.depends %}
                                                <dd>{{ depends }}</dd>
                                            {% endfor %}
                                        </dl>
                                    {% endif %}

                                    {% if manifest.drivers %}
                                        <dl>
                                            <dt>Drivers</dt>
                                            {% for alias, settings in manifest.drivers.items() %}
                                                <dd>{{ alias }} - {{ settings }}</dd>
                                            {% endfor %}
                                        </dl>
                                    {% endif %}


                                    {% if manifest.args %}
                                        <dl>
                                            <dt>Args</dt>
                                            <dd>{{ manifest.args|pprint }}</dd>
                                        </dl>
                                    {% endif %}
                                </dd>
                            </dl>
                        {% endfor %}

                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h3>No manifests</h3>
{% endif %}

{% if runlists %}
    <h3>Runlists
        <small>({{ runlists|length }})</small>
    </h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Apps-Profiles</th>
        </tr>
        </thead>

        {% for runlist_name, runlist in runlists.items() %}
            <tr>
                <td>{{ runlist_name }}</td>
                <td>
                    <ul class="unstyled">
                        {% for app_name, profile_name in runlist.items() %}
                            <li>{{ app_name }} - {{ profile_name }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h3>No runlists</h3>
{% endif %}

{% if profiles %}
    <h3>Profiles
        <small>({{ profiles|length }})</small>
    </h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Config</th>
        </tr>
        </thead>

        {% for profile_name, profile in profiles.items() %}
            <tr>
                <td>{{ profile_name }}</td>
                <td>
                    <ul class="unstyled">
                        {% for option, value in profile.items() %}
                            <li>
                                {{ option }} - <span class="edit"
                                                     id="profile:{{ profile_name }}:{{ option }}:{{ value }}">{{ value }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h3>No profiles</h3>
{% endif %}

{% if hosts %}
    <h3>Hosts</h3>
    {% for alias, hosts in hosts.items() %}
        <dl>
            <dt>{{ alias }}</dt>
            <dd>
                {% for host in hosts %}
                    {{ host }}
                {% endfor %}
            </dd>
        </dl>
    {% endfor %}
{% else %}
    <h3>No hosts</h3>
{% endif %}


<div class="modal hide" id="removeApp" tabindex="-1" role="dialog" aria-labelledby="removeAppLabel">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="removeAppLabel">Remove application</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
        <button class="btn btn-primary btn-danger">Yes</button>
    </div>
</div>




{% if user.admin %}
    {% block js %}
        <script type="text/javascript" src="https://raw.github.com/makeusabrew/bootbox/v2.4.2/bootbox.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('.remove').click(function () {
                    var app_id = $(this).attr('data-id');
                    var btn = $(this);
                    bootbox.confirm("Are you sure?", "No", "Yes", function (result) {
                        if (result) {
                            $.ajax({
                                       url:'/app/' + app_id,
                                       type:"DELETE",
                                       success:function (data, textStatus, jqXHR) {
                                           btn.parents('dl').remove();
                                       }
                                   });

                        }
                    });
                });


                $('.edit').editable('/dashboard/edit', {
                    style:'display: inline',
                    tooltip:'Click to edit...'
                });


            });


        </script>
    {% endblock %}
{% endif %}
