#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

DEB_PYTHON_SYSTEM=pycentral
DEB_COMPRESS_EXCLUDE=.py

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

DEB_PYTHON_INSTALL_ARGS_ALL += --install-layout=deb


install/cocaine-flow::
	# pack flow-tools cocaine app
	install -d $(DEB_DESTDIR)/usr/lib/cocaine-flow
	cp -r $(CURDIR)/flow-tools $(DEB_DESTDIR)/usr/lib/cocaine-flow/
	# install default config
	install -d $(DEB_DESTDIR)etc/cocaine-flow
	install -m644 cocaine-flow-default.conf $(DEB_DESTDIR)etc/cocaine-flow/cocaine-flow-default.conf
