{% extends "layout.html" %}
{% block body %}
    {% if error %}
        <div class="alert alert-error">
            <strong>Error:</strong>
            {{ error }}
        </div>
    {% endif %}



    <form class="form-horizontal" action="{{ url_for('register') }}" method="post">
        <legend>Register</legend>
        <div class="control-group">
            <label class="control-label" for="username">Username</label>

            <div class="controls">
                <input type="text" id="username" placeholder="Username" name="username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>

            <div class="controls">
                <input type="password" id="password" placeholder="Password" name="password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Register</button>
            </div>
        </div>
    </form>

{% endblock %}
